{% extends "base.html" %}
{% block title %}Devices{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container" style="float:left">
        <div class="navbar-header">
            <i style="float:right;font-size:40px" class="glyphicon glyphicon-chevron-left"></i>
        </div>
        <div class="navbar-collapse collapse">

            <a class="navbar-brand" href="{{ url_for('dashboard') }}">Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div>
    <table class="table">
        <caption>Devices</caption>
        <thead>
        <tr>
            <th>Mac Address</th>
            <th>Is actived</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>11:22:33:44:55:66</td>
            <td>yes</td>
        </tr>
        <tr>
            <td>11:22:33:44:55:67</td>
            <td>no</td>
        </tr>
        <tr>
            <td>11:22:33:44:55:68</td>
            <td>no</td>
        </tr>
        <tr>
            <td>11:22:33:44:55:69</td>
            <td>no</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}