{% extends "base.html" %}

{% block content %}
<h1>Edit Device</h1>
<div>
    <li>
        <a href="#">Dashboard</a>
    </li>
    <li class="dropdown">
        <a href="#" class="data-toggle" data-toggle="dropdown">Assets</a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">AP</a>
            </li>
            <li>
                <a href="#">Device</a>
            </li>

        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="data-toggle" data-toggle="dropdown">Ssid</a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">ssid</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="data-toggle" data-toggle="dropdown">Statistics</a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Device Statistics</a>
            </li>
        </ul>
    </li>
</div>
{% endblock %}