{% extends "base.html" %}
{% block title %}Device Statistics{% endblock%}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/bootstrap-table.css">
{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container" style="float:left">
        <div class="navbar-header">
            <i style="float:right;font-size:40px" class="glyphicon glyphicon-chevron-left"></i>
        </div>
        <div class="navbar-collapse collapse">

            <a class="navbar-brand" href="{{ url_for('dashboard') }}">Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div>
    <table id="id_table" data-search="true">
        <thead>
        <tr>
            <th data-field="mac_address">Mac Address</th>
            <th data-field="count">Count</th>
            <th data-field="usage">Usage Data</th>
        </tr>
        </thead>
    </table>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="/static/js/bootstrap-table.js"></script>
<script src="/static/js/statistics/device_statistics.js"></script>
{% endblock %}