{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Edit Ssid{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container" style="float:left">
        <div class="navbar-header">
            <i style="float:right;font-size:40px" class="glyphicon glyphicon-chevron-left"></i>
        </div>
        <div class="navbar-collapse collapse">

            <a class="navbar-brand" href="{{ url_for('ssid') }}">Ssids</a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
{{ wtf.quick_form(form) }}
{% endblock %}