{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container" style="float:left">
        <div class="navbar-header">
            <i style="float:right;font-size:40px" class="glyphicon glyphicon-chevron-left"></i>
        </div>
        <div class="navbar-collapse collapse">

            <a class="navbar-brand" href="{{ url_for('dashboard') }}">Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div>
	<div>
		<i style="font-size:40px">Overview</i>
	</div>
	<div>
		<hr style="height:1px;border:none;border-top:1px solid #555555;" />
	</div>
    <div id="id_chart" style="width:600px;height:400px;"></div>
    <div>
		<hr style="height:1px;border:none;border-top:1px solid #555555;" />
	</div>
    <div id="id_static_chart" style="width:600px;height:400px;"></div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="/static/js/echarts.js"></script>
<script src="/static/js/misc/overview.js"></script>
{% endblock %}

